body {
    background-color: white;
}


p {
    text-align: center;
}

h2 {
    color: var(--primary);
    border: solid var(--primary);
    text-align: center;
}

a.bg-purple:hover,
a.bg-purple:focus,
button.bg-purple:hover,
button {
    border-radius: 0;
    background-color: #8965e0 !important;
    align-content: center;

}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: white;
    text-align: center;
}

.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}