.white-pill {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 4px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
  padding: 3%;
  margin-top: 5%;
}

.text-wrap-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.viewheight-90 {
  height: 90vh !important;
}
.clickable {
  cursor: pointer;
}

.animate {
  animation: hide 1s linear 5s 1 forwards;
}

@keyframes hide {
  to {
    opacity: 0;
  }
}

.shadowOnHover:hover {
  box-shadow: 0 4px 8px 4px rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}
