<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../webapp/resources/styles/general.css" th:href="@{/style/general.css}" rel="stylesheet" />
    <link href="../../webapp/resources/styles/argon-design-system.css" th:href="@{/style/argon-design-system.css}" rel="stylesheet" />
</head>
<style>
    .centerButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
<p class="h3 text-primary text-center">Se ha registrado un usuario en AskAway con este mail</p>
<p class="h4 text-primary text-center">Si has sido tu verifica tu email para poder disfrutar de nuestra plataforma</p>
<p class="h5 text-center"  th:text="${user.getUsername()}"></p>
<div class="centerButton">
    <form th:action="${link}" method="post">
        <button class="btn btn-primary" type="submit"> Verificar </button>
    </form>
</div>
</body>
</html>